.school-footer{
    text-align: center;
    padding: 20px;
    background: #0a0a0a;
    color: white;
}

.school-footer img{
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.school-footer p{
    font-size: 14px;
}