body{
margin:0;
font-family:Arial;
background:url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564");
background-size:cover;
color:white;
text-align:center;
}

header{
background:rgba(0,0,0,0.7);
padding:20px;
}

nav{
background:black;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
background:rgba(0,0,0,0.6);
margin:20px;
border-radius:10px;
}

.profile{
width:150px;
border-radius:50%;
border:4px solid cyan;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:rgba(255,255,255,0.2);
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.1);
background:cyan;
color:black;
}

footer{
background:black;
padding:15px;
}

@media(max-width:600px){

.cards{
flex-direction:column;
}

}